.profile {
    margin: 0;
    padding: 50px 372px 73px 0px;
    width: 100%;
    min-height: calc(100vh - 61px);
    background: url('./../../../public/img/profile-bg.jpg') 0 -100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Form {
    width: 40%;
    height: 600px;
    margin: 0px auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.header-part {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    color: #8642be;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.form-item {
    display: inline-block;
    width: 100%;
    margin: 10px;
    text-align: left;
}

.submit {
    display: block;
    margin: 15px auto;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    font: inherit;
    color: #fff;
    background-color: #8642be;
    cursor: pointer;
    transition: background-color .4s;
}

.submit:hover {
    background-color: #4eb0ce;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 15px 4px rgba(8, 8, 8, 0.06);
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus {
    background-color: #e5d6f1;
}

input[type="number"]:focus {
    color: #8642be;
}

.error {
    font-size: 0.5rem;
    color: red;
}

input:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.modul-window {
    position: fixed;
    z-index: 10;
    top: 300px;
    left: 300px;
    width: 50%;
    height: 140px;
    padding: 10px;
    background-color: #fcfcfc;
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 4px;
    border: 2px solid green;
    color: #258344;
}

.file-loader {
    margin-top: -50px;
}

input[type='file'] {
    margin-top: 16px;
}

.right-answer {
    background-color: white;
}

.wrong-answer {
    background-color: rgba(255, 0, 0, 0.3);
}