.profile {
    margin: 0;
    padding: 50px 372px 73px 0px;
    width: 100%;
    min-height: calc(100vh - 61px);
    background: url('./../../../public/img/profile-bg.jpg') 0 -100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Form {
    width: 40%;
    height: 520px;
    margin: 0px auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.header-part {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    color: #8642be;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.form-item {
    display: inline-block;
    width: 100%;
    margin: 10px;
    text-align: left;
}

.submit {
    margin: 15px 0;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    font: inherit;
    color: #fff;
    background-color: #8642be;
    cursor: pointer;
    transition: background-color .4s;
}

.submit:hover {
    background-color: #4eb0ce;
}

input[type="text"],
input[type="date"],
select {
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 15px 4px rgba(8, 8, 8, 0.06);
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
    background-color: #e5d6f1;
}

.error {
    font-size: 0.5rem;
    color: red;
}