* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #8642be;
  text-transform: uppercase;
}

.App-logo {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 3px;
}

.App-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.App-link:hover {
  color: #1e292c;
  font-size: calc(10px + 2.2vmin);
}

.Search {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin: 0px auto;
  position: relative;
}

.Search input {
  background-color: #8642be;
  border: none;
}

.Search-input {
  width: 35%;
  padding: 20px 37px 20px 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background: url(assets/svg/search.svg) 140% 50%/ 50% 50% no-repeat;
  border: 1px solid rgba(7, 104, 99, 0.4);
  font: 13px Tahoma, Arial, sans-serif;
  color: rgb(255, 255, 255);
  outline: none;
}

.Search-input:focus {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
  background: #E8E8E8;
  color: #333;
}

.Search-btn {
  position: absolute;
  top: 0;
  left: 70%;
  width: 100px;
  height: 100%;
  cursor: pointer;
  opacity: 1;
  color: #ffffff;
  background-color: #8642be;
  text-transform: uppercase;
}

.search .submit:hover {
  opacity: 0.8;
}

input[type="search"] {
  -webkit-appearance: none;
}

p {
  margin: 0;
}

.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  margin-top: 30px;
}

.Card {
  width: 15%;
}

.Card:hover {
  outline: 2px solid #8642be;
  background-color: #f0ebeb;
}

.Card-id {
  display: none;
}

.Card-img {
  width: 100%;
}

.Card-name {
  margin: 0;
  color: #8642be;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.Card-year,
.Card-genre,
.Card-rating {
  padding: 0 30px;
  text-align: justify;
  margin: 5px;
  font-size: 0.8rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.rate {
  font-weight: 500;
  color: #8642be;
  font-size: 1.1rem;
}

.Card-likesCount {
  text-align: right;
  padding: 0 10px;
  margin: 0;
  border-bottom: 1px solid #a4a5a5;
}

.like {
  padding-left: 10px;
  color: rgb(165, 163, 163);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.like-img {
  width: 5%;
}

.control-elements {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.pagination {
  margin: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination-button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  opacity: 1;
  color: #ffffff;
  background-color: #8642be;
  text-transform: uppercase;
}

.page-number {
  width: 100px;
  height: 40px;
  opacity: 0.3;
  color: #ffffff;
  background-color: #8642be;
  font-size: 2rem;
}

.slash {
  color: #8642be;
  font-size: 2.5rem;
}